body{

    text-align: center;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cointainer
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: auto;
}
#cabesas
{
    font-size: medium;
    color: darkcyan;
    font-family: cursive;

}

#cointainer h1 
{
    font-size: 20px;

}